@use '../utils/variables' as *;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--bg);
  color: var(--text);
  font-family: $font-family;
  font-size: 16px;
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}
