<section id="categories" class="section categories">
  <div class="container">
    <h2 class="section-title center">Browse Bose<br />products by category</h2>
    <div class="grid">
      <div class="grid-block">
        <div class="grid-img">
          <img
            srcset="
              img/category/headphones&earbuds672x320_mob.png     130w,
              img/category/headphones&earbuds672x320_mob@2.png   260w,
              img/category/headphones&earbuds672x320_tabl.png    392w,
              img/category/headphones&earbuds672x320_tabl@2.png  784w,
              img/category/headphones&earbuds672x320_desk.png    672w,
              img/category/headphones&earbuds672x320_desk@2.png 1344w
            "
            sizes="(min-width: 1260px) 672px, (min-width: 744px) 392px, (min-width: 320px) 130px, 100vw"
            src="img/category/headphones&earbuds672x320_mob.png"
            alt="Headphones & earbuds"
          />

          <img
            srcset="
              img/category/headphones&earbuds324x320_mob.png    130w,
              img/category/headphones&earbuds324x320_mob@2.png  260w,
              img/category/headphones&earbuds324x320_tabl.png   184w,
              img/category/headphones&earbuds324x320_tabl@2.png 368w,
              img/category/headphones&earbuds324x320_desk.png   324w,
              img/category/headphones&earbuds324x320_desk@2.png 648w
            "
            sizes="(min-width: 1260px) 324px, (min-width: 744px) 184px, (min-width: 320px) 130px, 100vw"
            src="img/category/headphones&earbuds324x320_mob.png"
            alt="Headphones"
          />
        </div>
        <p class="title-label">Headphones & earbuds</p>
      </div>

      <div class="grid-block">
        <div class="grid-img">
          <img
            srcset="
              img/category/speakers_wibe_mob.png     130w,
              img/category/speakers_wibe_mob@2.png   260w,
              img/category/speakers_wibe_tabl.png    392w,
              img/category/speakers_wibe_tabl@2.png  784w,
              img/category/speakers_wibe_desk.png    672w,
              img/category/speakers_wibe_desk@2.png 1344w
            "
            sizes="(min-width: 1260px) 672px, (min-width: 744px) 392px, (min-width: 320px) 130px, 100vw"
            src="img/category/speakers_wibe_mob.png"
            alt="Speakers"
          />

          <img
            srcset="
              img/category/speakers_square_mob.png    130w,
              img/category/speakers_square_mob@2.png  260w,
              img/category/speakers_square_tabl.png   184w,
              img/category/speakers_square_tabl@2.png 368w,
              img/category/speakers_square_desk.png   324w,
              img/category/speakers_square_desk@2.png 648w
            "
            sizes="(min-width: 1260px) 324px, (min-width: 744px) 184px, (min-width: 320px) 130px, 100vw"
            src="img/category/speakers_square_mob.png"
            alt="Speakers"
          />
        </div>
        <p class="title-label">Speakers</p>
      </div>

      <div class="grid-block">
        <div class="grid-img">
          <img
            srcset="
              img/category/audio_sunglasses_square_mob.png    130w,
              img/category/audio_sunglasses_square_mob@2.png  260w,
              img/category/audio_sunglasses_square_tabl.png   184w,
              img/category/audio_sunglasses_square_tabl@2.png 368w,
              img/category/audio_sunglasses_square_desk.png   324w,
              img/category/audio_sunglasses_square_desk@2.png 648w
            "
            sizes="(min-width: 1260px) 324px, (min-width: 744px) 184px, (min-width: 320px) 130px, 100vw"
            src="img/category/audio_sunglasses_square_mob.png"
            alt="Speakers blue"
          />

          <img
            srcset="
              img/category/audio_sunglasses_wibe_mob.png     130w,
              img/category/audio_sunglasses_wibe_mob@2.png   260w,
              img/category/audio_sunglasses_wibe_tabl.png    392w,
              img/category/audio_sunglasses_wibe_tabl@2.png  784w,
              img/category/audio_sunglasses_wibe_desk.png    672w,
              img/category/audio_sunglasses_wibe_desk@2.png 1344w
            "
            sizes="(min-width: 1260px) 672px, (min-width: 744px) 392px, (min-width: 320px) 130px, 100vw"
            src="img/category/audio_sunglasses_wibe_mob.png"
            alt="Audio sunglasses 1"
          />
        </div>
        <p class="title-label">Audio sunglasses</p>
      </div>
    </div>
  </div>
</section>
