<header class="site-header">
  <div class="container header-inner">
    <a class="logo" href="#">
      <img
        srcset="img/Logo.png 190w"
        sizes="(min-width: 1260px) 190px, (min-width: 744px) 190px, (min-width: 320px) 127px, 100vw"
        src="img/Logo-mob.png"
        alt="Logo"
    /></a>
    <button type="button" class="menu-btn" aria-label="Открыть меню" data-open-burger>
      <svg width="24" height="24" class="icon-res">
        <use href="img/icons.svg#icon-burger-menu"></use>
      </svg>
    </button>
  </div>
</header>
