<section id="recommended" class="section recommended">
  <div class="container">
    <h2 class="section-title center">Recommended</h2>
    <div class="cards">
      <article class="card">
        <div class="styleImg">
          <img
            srcset="
              img/products/Bose_portable_Smart_speaker_mob.png    280w,
              img/products/Bose_portable_Smart_speaker_mob@2.png  560w,
              img/products/Bose_portable_Smart_speaker_tabl.png   392w,
              img/products/Bose_portable_Smart_speaker_tabl@2.png 784w,
              img/products/Bose_portable_Smart_speaker_desk.png   324w,
              img/products/Bose_portable_Smart_speaker_desk@2.png 648w
            "
            sizes="(min-width: 1260px) 324px, (min-width: 744px) 392px, (min-width: 320px) 280px, 100vw"
            src="img/products/Bose_portable_Smart_speaker_mob.png"
            alt="Bose portable Smart speaker"
          />
        </div>
        <h3 class="card-title">Bose portable Smart speaker</h3>
        <p class="card-sub">Smart home</p>
        <p class="card-price card-title">$ 399.00</p>
        <div class="btn-box-recommended">
          <button class="btn small" data-open-modal>Купить</button>
          <button class="btn small">В корзину</button>
          <button class="btn like">
            <div class="icon-like">
              <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M17 5.5C19.7477 5.5 22 7.75228 22 10.5C22 11.6991 21.4447 12.9915 20.4746 14.3145C19.5121 15.6269 18.2073 16.8791 16.8672 17.9756C15.5319 19.0681 14.1909 19.9828 13.1816 20.625C12.697 20.9334 12.2905 21.177 12.001 21.3467C11.7113 21.1757 11.305 20.9294 10.8203 20.6191C9.81085 19.9729 8.47039 19.0538 7.13477 17.958C5.79402 16.858 4.48744 15.604 3.52441 14.293C2.55331 12.9709 2 11.6849 2 10.5C2 7.75228 4.25228 5.5 7 5.5C8.75986 5.5 10.2907 6.37723 11.1562 7.7373C11.3398 8.02559 11.6582 8.2002 12 8.2002C12.3418 8.2002 12.6602 8.02559 12.8438 7.7373C13.7093 6.37723 15.2401 5.5 17 5.5Z"
                />
              </svg>
            </div>
          </button>
        </div>
      </article>
      <article class="card">
        <div class="styleImg">
          <img
            srcset="
              img/products/Portable_bluetooth_mob.png    280w,
              img/products/Portable_bluetooth_mob@2.png  560w,
              img/products/Portable_bluetooth_tabl.png   392w,
              img/products/Portable_bluetooth_tabl@2.png 784w,
              img/products/Portable_bluetooth_desk.png   324w,
              img/products/Portable_bluetooth_desk@2.png 648w
            "
            sizes="(min-width: 1260px) 324px, (min-width: 744px) 392px, (min-width: 320px) 280px, 100vw"
            src="img/products/Portable_bluetooth_mob.png"
            alt="SoundLink Flex Bluetooth speaker"
          />
        </div>
        <h3 class="card-title">SoundLink Flex Bluetooth speaker</h3>
        <p class="card-sub">Portable bluetooth</p>
        <p class="card-price card-title">$ 149.00</p>
        <div class="btn-box-recommended">
          <button class="btn small" data-open-modal>Купить</button>
          <button class="btn small">В корзину</button>
          <button class="btn like">
            <div class="icon-like">
              <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M17 5.5C19.7477 5.5 22 7.75228 22 10.5C22 11.6991 21.4447 12.9915 20.4746 14.3145C19.5121 15.6269 18.2073 16.8791 16.8672 17.9756C15.5319 19.0681 14.1909 19.9828 13.1816 20.625C12.697 20.9334 12.2905 21.177 12.001 21.3467C11.7113 21.1757 11.305 20.9294 10.8203 20.6191C9.81085 19.9729 8.47039 19.0538 7.13477 17.958C5.79402 16.858 4.48744 15.604 3.52441 14.293C2.55331 12.9709 2 11.6849 2 10.5C2 7.75228 4.25228 5.5 7 5.5C8.75986 5.5 10.2907 6.37723 11.1562 7.7373C11.3398 8.02559 11.6582 8.2002 12 8.2002C12.3418 8.2002 12.6602 8.02559 12.8438 7.7373C13.7093 6.37723 15.2401 5.5 17 5.5Z"
                />
              </svg>
            </div>
          </button>
        </div>
      </article>
      <article class="card">
        <div class="styleImg">
          <img
            srcset="
              img/products/Portable_bluetooth_II_mob.png    280w,
              img/products/Portable_bluetooth_II_mob@2.png  560w,
              img/products/Portable_bluetooth_II_tabl.png   392w,
              img/products/Portable_bluetooth_II_tabl@2.png 784w,
              img/products/Portable_bluetooth_II_desk.png   324w,
              img/products/Portable_bluetooth_II_desk@2.png 648w
            "
            sizes="(min-width: 1260px) 324px, (min-width: 744px) 392px, (min-width: 320px) 280px, 100vw"
            src="img/products/Portable_bluetooth_II_mob.png"
            alt="SoundLink Color Bluetooth speaker II"
          />
        </div>

        <h3 class="card-title">SoundLink Color Bluetooth speaker II</h3>
        <p class="card-sub">Portable bluetooth</p>
        <p class="card-price card-title">$ 129.00</p>
        <div class="btn-box-recommended">
          <button class="btn small" data-open-modal>Купить</button>
          <button class="btn small">В корзину</button>
          <button class="btn like">
            <div class="icon-like">
              <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M17 5.5C19.7477 5.5 22 7.75228 22 10.5C22 11.6991 21.4447 12.9915 20.4746 14.3145C19.5121 15.6269 18.2073 16.8791 16.8672 17.9756C15.5319 19.0681 14.1909 19.9828 13.1816 20.625C12.697 20.9334 12.2905 21.177 12.001 21.3467C11.7113 21.1757 11.305 20.9294 10.8203 20.6191C9.81085 19.9729 8.47039 19.0538 7.13477 17.958C5.79402 16.858 4.48744 15.604 3.52441 14.293C2.55331 12.9709 2 11.6849 2 10.5C2 7.75228 4.25228 5.5 7 5.5C8.75986 5.5 10.2907 6.37723 11.1562 7.7373C11.3398 8.02559 11.6582 8.2002 12 8.2002C12.3418 8.2002 12.6602 8.02559 12.8438 7.7373C13.7093 6.37723 15.2401 5.5 17 5.5Z"
                />
              </svg>
            </div>

            <!-- смотреть в чате -->
          </button>
        </div>
      </article>
    </div>
  </div>
</section>
