<section id="recommended" class="section recommended">
  <div class="container">
    <h2 class="section-title center">Recommended</h2>
    <div class="cards">
      <article class="card">
        <div class="styleImg">
          <img
            srcset="
              img/products/Bose_portable_Smart_speaker_mob.png    280w,
              img/products/Bose_portable_Smart_speaker_mob@2.png  560w,
              img/products/Bose_portable_Smart_speaker_tabl.png   392w,
              img/products/Bose_portable_Smart_speaker_tabl@2.png 784w,
              img/products/Bose_portable_Smart_speaker_desk.png   324w,
              img/products/Bose_portable_Smart_speaker_desk@2.png 648w
            "
            sizes="(min-width: 1260px) 324px, (min-width: 744px) 392px, (min-width: 320px) 280px, 100vw"
            src="img/products/Bose_portable_Smart_speaker_mob.png"
            alt="Bose portable Smart speaker"
          />
        </div>
        <h3 class="card-title">Bose portable Smart speaker</h3>
        <p class="card-sub">Smart home</p>
        <p class="card-price card-title">$ 399.00</p>
        <div class="btn-box-recommended">
          <button class="btn small" data-open-modal>Купить</button>
          <button class="btn small">В корзину</button>
          <button class="btn like">
            <img src="./img/icons/like.svg" alt="like" class="icon-like" />
          </button>
        </div>
      </article>
      <article class="card">
        <div class="styleImg">
          <img
            srcset="
              img/products/Portable_bluetooth_mob.png    280w,
              img/products/Portable_bluetooth_mob@2.png  560w,
              img/products/Portable_bluetooth_tabl.png   392w,
              img/products/Portable_bluetooth_tabl@2.png 784w,
              img/products/Portable_bluetooth_desk.png   324w,
              img/products/Portable_bluetooth_desk@2.png 648w
            "
            sizes="(min-width: 1260px) 324px, (min-width: 744px) 392px, (min-width: 320px) 280px, 100vw"
            src="img/products/Portable_bluetooth_mob.png"
            alt="SoundLink Flex Bluetooth speaker"
          />
        </div>
        <h3 class="card-title">SoundLink Flex Bluetooth speaker</h3>
        <p class="card-sub">Portable bluetooth</p>
        <p class="card-price card-title">$ 149.00</p>
        <div class="btn-box-recommended">
          <button class="btn small" data-open-modal>Купить</button>
          <button class="btn small">В корзину</button>
          <button class="btn like">
            <img src="./img/icons/like.svg" alt="like" class="icon-like" />
          </button>
        </div>
      </article>
      <article class="card">
        <div class="styleImg">
          <img
            srcset="
              img/products/Portable_bluetooth_II_mob.png    280w,
              img/products/Portable_bluetooth_II_mob@2.png  560w,
              img/products/Portable_bluetooth_II_tabl.png   392w,
              img/products/Portable_bluetooth_II_tabl@2.png 784w,
              img/products/Portable_bluetooth_II_desk.png   324w,
              img/products/Portable_bluetooth_II_desk@2.png 648w
            "
            sizes="(min-width: 1260px) 324px, (min-width: 744px) 392px, (min-width: 320px) 280px, 100vw"
            src="img/products/Portable_bluetooth_II_mob.png"
            alt="SoundLink Color Bluetooth speaker II"
          />
        </div>

        <h3 class="card-title">SoundLink Color Bluetooth speaker II</h3>
        <p class="card-sub">Portable bluetooth</p>
        <p class="card-price card-title">$ 129.00</p>
        <div class="btn-box-recommended">
          <button class="btn small" data-open-modal>Купить</button>
          <button class="btn small">В корзину</button>
          <button class="btn like">
            <img src="./img/icons/like.svg" alt="like" class="icon-like" />
          </button>
        </div>
      </article>
    </div>
  </div>
</section>
