<section id="why" class="section why">
  <div class="container why-inner">
    <div class="why-left">
      <h2 class="section-title">Why buy direct<br />from Bose</h2>
    </div>
    <div class="why-right">
      <ul class="why-list">
        <li class="why-item"><p class="why-text">Free 2-day shipping and returns</p></li>
        <li class="why-item"><p class="why-text">90-day risk-free trial</p></li>
        <li class="why-item"><p class="why-text">World class customer service</p></li>
        <li class="why-item"><p class="why-text">My Bose account management</p></li>
      </ul>
      <p class="why-descr">
        A great product is more than what's in the box. It's a promise of premium performance,
        world-class support, and everything you expect from a trusted brand. It's just one of many
        reasons why you'll shop with confidence on Bose.com.
      </p>
    </div>
  </div>
</section>
