<div class="burger-menu" id="burger-menu" aria-hidden="true">
  <div class="burger-menu-backdrop" data-close-burger></div>
  <div class="burger-menu-content">
    <div class="burger-menu-header">
      <div>
        <a class="logo" href="#"
          ><img
            srcset="img/Logo.png 190w"
            sizes="(min-width: 1260px) 190px, (min-width: 744px) 190px, (min-width: 320px) 127px, 100vw"
            src="img/Logo-mob.png"
            alt="Logo"
        /></a>
      </div>

      <button class="burger-menu-close" aria-label="Закрыть меню" data-close-burger>
        <svg width="24" height="24" class="icon-res">
          <use href="./img/icons.svg#icon-btn-close"></use>
        </svg>
      </button>
    </div>

    <nav class="burger-menu-nav">
      <ul class="burger-menu-list">
        <li class="burger-menu-item">
          <a class="burger-menu-link" href="#" data-close-burger>Home</a>
        </li>
        <li class="burger-menu-item">
          <a class="burger-menu-link" href="#recommended" data-close-burger>Recommended</a>
        </li>
        <li class="burger-menu-item">
          <a class="burger-menu-link" href="#categories" data-close-burger>Categories</a>
        </li>
        <li class="burger-menu-item">
          <a class="burger-menu-link" href="#why" data-close-burger>How to buy</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
