<div
  class="modal"
  id="modal"
  aria-hidden="true"
  role="dialog"
  aria-modal="true"
  aria-labelledby="modal-title"
>
  <div class="modal-backdrop" data-close-modal></div>
  <div class="modal-dialog" role="document">
    <button class="modal-close" aria-label="Закрыть" data-close-modal>
      <div class="icon-close">
        <img src="./img/icons/icon-close.svg" alt="close icon" />
      </div>
    </button>

    <h3 id="modal-title" class="modal-title">Оформление заказа</h3>
    <form class="modal-form" action="#" method="post" autocomplete="on">
      <label>
        Имя
        <input class="test" type="text" required />
      </label>
      <label>
        Email
        <input type="email" required />
      </label>
      <label>
        Телефон
        <input type="tel" required />
      </label>
      <button type="submit" class="btn primary wide">Отправить</button>
    </form>
  </div>
</div>
